@font-face {
    font-family: "Monaspace Neon";
    src: url("https://cdn.jsdelivr.net/gh/githubnext/monaspace/fonts/webfonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2")
        format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
