@font-face {
    font-family: "Monaspace Radon";
    src: url("https://cdn.jsdelivr.net/gh/githubnext/monaspace/fonts/webfonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2")
        format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
